<div class="container-fluid  mt-5">
  <div class="form row">
    <div style="border: 0px solid yellow;margin-bottom: 150px; "
      class=" mt-5  col-sm-11 col-12  col-lg-6  col-md-8  col-xs-12  ml-auto mr-auto">
      <h1 class="ml-5  " style="color: black;">Registrate</h1>
      <mat-vertical-stepper linear class="shadow-lg p-3 mb-5 bg-white rounded" id="boxes">

        <mat-step id="step1" completed=false class="box" [stepControl]="registrarForm1">
          <form method="post" [formGroup]="registrarForm1">
            <ng-template matStepLabel>
              <h3>Informacion General</h3>
            </ng-template>
            <div class="col-sm-12   " style=" border: px solid blue;">
              <div class="col-sm-5 col-md-5 "   >
                <mat-form-field class="form">
                  <mat-label>Nombres</mat-label>

                  <div class="form-group was-validated " [ngClass]="{'has-error':registrarForm1.get('nombres').errors &&
                     (registrarForm1.get('nombres').touched || registrarForm1.get('nombres').dirty)}">
                    <p class="text-muted"></p>

                    <input matInput formControlName="nombres" type="text" id="signupusername" class="form-control"
                      placeholder="*Nombres" required>
                    <!--<div class="text-danger"><em>This will be your login name!</em></div>-->
                    <span *ngIf="registrarForm1.get('nombres').errors  && (registrarForm1.get('nombres').touched )  "
                      class="help-block text-danger ">

                      <span class="mr-4" *ngIf="registrarForm1.get('nombres').errors.required ">
                        Ingrese tus nombres!

                      </span>
                    </span>

                  </div>





                </mat-form-field>

              </div>
              <div class="col-sm-5">
                <mat-form-field class="form">
                  <mat-label>Apellidos</mat-label>

                  <div class="form-group was-validated" [ngClass]="{'has-error':registrarForm1.get('apellidos').errors &&
                      (registrarForm1.get('apellidos').touched || registrarForm1.get('apellidos').dirty)}">


                    <input matInput formControlName="apellidos" type="text" id="signupusername" class="form-control"
                      placeholder="" required>
                    <!--<div class="text-danger"><em>This will be your login name!</em></div>-->
                    <mat-error
                      *ngIf="registrarForm1.get('apellidos').errors  && (registrarForm1.get('apellidos').touched )  "
                      class="help-block text-danger ">

                      <mat-error class="mr-4" *ngIf="registrarForm1.get('apellidos').errors.required   ">
                        Ingrese tus Apellidos!

                      </mat-error>
                    </mat-error>

                  </div>

                </mat-form-field>
              </div>
            </div>

            <div class="col-sm-12">

              <div class="col-sm-5  col-md-5" >


                <mat-form-field class="form">
                  <mat-label>Pais</mat-label>

                  <mat-select placeholder="Pais" formControlName="nacionalidad">

                    <mat-option value="El Salvador">El Salvador</mat-option>
                    <mat-option value="Guatemala">Guatemala</mat-option>
                    <mat-option value="Honduras">Honduras</mat-option>

                  </mat-select>
                </mat-form-field>


                <!--<div class="text-danger"><em>This will be your login name!</em></div>-->

              </div>
              <div class="col-sm-5">


                <mat-form-field class="form">
                  <mat-label>Genero</mat-label>

                  <mat-select required matInput placeholder="Genero" formControlName="genero">

                    <mat-option value="1">Masculino</mat-option>
                    <mat-option value="2">Femenino</mat-option>

                  </mat-select>
                </mat-form-field>


                <!--<div class="text-danger"><em>This will be your login name!</em></div>-->

              </div>
            
            </div>
            <div class="col-sm-12">
          
            <div class="col-sm-5">
              <mat-form-field class="form">
                <mat-label>Telefono </mat-label>

                <div class="form-group">
                  <input required matInput formControlName="telefono" type="number" name="telefono" id="signupphone"
                    class="form-control" placeholder="(503)-(0000000)">
                </div>
              </mat-form-field>

            </div>
               <div class="col-sm-5">
                <mat-form-field class="form">
                  <mat-label>Edad</mat-label>
                  <div class="form-group">
                    <input matInput formControlName="edad" min="1" max="80" type="number" name="edad" id="signupphone"
                      class="form-control" placeholder="*">
                  </div>
  
  
                </mat-form-field>
               </div>
            </div>

            <div>
              <button [disabled]="registrarForm1.invalid" id="Continuar" (click)="hand()" mat-raised-button
                matStepperNext>  Continuar  </button>

            </div>

          </form>
        </mat-step>


        <mat-step completed=false class="box" [stepControl]="registrarForm2" id="">
          <form (ngSubmit)="onSubmit()" method="post" [formGroup]="registrarForm2">
            <ng-template matStepLabel>
              <h3>Datos de cuenta</h3>
            </ng-template>
            <mat-form-field class="form">
              <mat-label>Correo Electronico</mat-label>

              <div class="form-group  was-validated" [ngClass]="{'has-error':registrarForm2.get('email').invalid &&
                  (registrarForm2.get('email').touched || registrarForm2.get('email').dirty)}">
                <input matInput formControlName="email" [email]="registrarForm2.get('email')!=''" type="email"
                  id="signupemail" class="form-control" placeholder="ej: @gmail.com" required>

                <mat-error
                  *ngIf="registrarForm2.get('email').errors?.required  && registrarForm2.get('email').touched  "
                  class="help-block text-danger ">

                  Ingresa tu correo electronico
                </mat-error>
                <mat-error class="mr-4" *ngIf="registrarForm2.get('email').errors?.email   ">
                  Ingrese un email valido Ej:@gmail.com !

                </mat-error>
              </div>
            </mat-form-field>
            <mat-form-field class="form">
              <mat-label>Contraseña</mat-label>
              <div class="form-group  was-validated" [ngClass]="{'has-error':registrarForm2.get('contraseña').invalid &&
                  (registrarForm2.get('contraseña').touched || registrarForm2.get('contraseña').dirty)}">
                <input matInput name="contraseña" formControlName="contraseña" type="password" id="signuppassword"
                  class="form-control" placeholder="*Contraseña" required>
                <mat-error
                  *ngIf="registrarForm2.get('contraseña').errors?.required  && (registrarForm2.get('contraseña').dirty ||  registrarForm2.get('contraseña').touched )   "
                  class=" mr-4">
                  Ingresa tu Contraseña

                </mat-error>
                <mat-error class="mt-4" *ngIf="registrarForm2.get('contraseña').errors?.minlength ">
                  Debe tener almenos 6 caracteres!

                </mat-error>


              </div>

            </mat-form-field>
            <mat-form-field class="form">
              <mat-label>Confirma tu contraeña</mat-label>


              <div class="form-group  was-validated" [ngClass]="{'has-error':registrarForm2.get('contraseña2').invalid &&
                  (registrarForm2.get('contraseña2').touched || registrarForm2.get('contraseña2').dirty)}">
                <input matInput compare="contraseña" name="contraseña2" formControlName="contraseña2" type="password"
                  id="" class="form-control" placeholder="*Confirmar Contraseña" required>

                <span *ngIf="registrarForm2.get('contraseña2').errors?.required  && (registrarForm2.get('contraseña2').compare
                      ||  registrarForm2.get('contraseña2').touched )   " class="text-danger ">
                  Repite tu Contraseña
                </span>
                <mat-error class="mt-4" *ngIf="registrarForm2.get('contraseña2').errors?.minlength ">
                  Debe tener almenos 6 caracteres!

                </mat-error>

                <div class=" mt-4 text-danger text-uppercase"
                  *ngIf="registrarForm2.get('contraseña2').errors?.mustMatch">
                  Contraseñas no coinciden ! </div>


              </div>

            </mat-form-field>
            <div *ngIf="sent">
              <div class="lds-spinner" id="spin">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
            <div class="izq   d ">
              <div class=" ">
                <button id='atras' [disabled]='habilitar' style="color:#fff; background-color: #ff0505;"
                  mat-raised-button matStepperPrevious>Atras</button>

              </div>
              <div class="">
                <button id="confirmar" [disabled]='habilitar' type="submit"
                  style="color:#fff; background-color: #ff0505;" [disabled]="registrarForm2.invalid" mat-button
                  matStepperNext>  Confirmar </button>

              </div>
            </div>
            <div class="">
              <div
                style=" text-align: center; justify-content: center;height: 50px;  margin-top: 17px; margin-bottom: 30px;"
                class="alert alert-success" *ngIf="isSuccessful">
                <strong> Registrado Exitosamente !
                </strong>
              </div>
              <div style=" padding: 5px;  height: 50px;  margin-top: 17px;margin-bottom: 30px"
                class="alert alert-danger" *ngIf="isSignUpFailed">
                Ocurrio un error al registrarse!
                <br />{{ errorMessage }}
              </div>
            </div>
          </form>




        </mat-step>

      </mat-vertical-stepper>

      <style>
      </style>


      <!--<mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>-->
    </div>

  </div>
</div>





<script type="text/javascript">

  function s() {
    if (loading) {
      swal('incorrect id or password !', ' ', 'error');
    }
  }
</script>


<!--<div id="popup1" class="overlay">
	<div class="popup">
    <h2>Here i am</h2>
    
    <a  href=""></a>
    <button id="b"   class="close">&times;</button>
		<div class="content">

			Thank to pop me out of that button, but now i'm done so you can close this window.
		</div>
	</div>
</div>
<style>
  body {
    font-family: Arial, sans-serif;
    background: url(http://www.shukatsu-note.com/wp-content/uploads/2014/12/computer-564136_1280.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
  }
  .close{
    pointer-events:visibleStroke;
  }
  b:active{
    background-color: aqua;
    width: 120px;
  }
  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    display: none;
    opacity: 1;
    z-index: 100;
    
  }
  
  .overlay:active {
    display:none;
    opacity: 1;
  }
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
</style> -->