
.lds-spinner {
    color: official;
    display: inline-block;
    position: absolute;
    bottom: 15%;
    left: 23%;
    width: 80px;
    height: 80px;
    z-index: 100;
  }

  @media (min-width:768px) and (max-width:1023px ){
    
    .col-sm-12  {
      display: flex;
      flex-wrap: wrap;
      
      justify-content: center;
}

.col-sm-12 > div:first-child{
  position: relative;
  left: -9%;
  border: px solid salmon;
}


.col-sm-12 > div:last-child{
  position: relative;
  right: -10%;
  border: 0px solid salmon;
}

  } 
  @media (min-width:1024px){

    .col-sm-12  {
          display: flex;
          flex-wrap: wrap;
          
          justify-content: center;
    }

    .col-sm-12 > div:first-child{
      position: relative;
      left: -9%;
      border: px solid salmon;
    }


    .col-sm-12 > div:last-child{
      position: relative;
      right: -10%;
      border: px solid salmon;
    }

    .lds-spinner {
      color: official;
      display: inline-block;
      bottom: -10px;
      left: 0%;
      background-color: rgba(51,51,51,0.3);
      width: 100%;
      height: 100px;
      z-index: 100;
    }
    
  
    .lds-spinner div {
      transform-origin: 40px 40px;
      position: relative;
      left: 25px;
      top: 25px;
      animation: lds-spinner 1.2s linear infinite;
    }

    }
    
  .lds-spinner div {
    transform-origin: 40px 40px;
    position: relative;
    left: 45px;
    top: 25px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #000000;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.form-contorl{
    width: 10%;
}
.form{
    width: 100%;
    
}
button{
    display: inline;
    margin-left: 20px;
}

h1{
    position: relative;
    left: 25px;
    top: 0;
    color:#fff;
}

*{
    margin: 0;
    padding: 0;
    
    
}
.container-fluid{

  /* 
    background-color:#ff5454 ; #ffa2a2 background-color: #ffb6b6; REDUCCIONDLE BASE #ff5454 */
  
    
  
}
html{


}

#Continuar{
    position: absolute;
    left: 0px;
    color:#fff;
    background-color: #ff0505;
    /*background-color:#ff4040;*/

    
}
mat-vertical-content {
    background-color: aqua;
}

.izq{
    
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}
.d  {
    width: 100%;
    display: inline-block;
    
    
}
.d div {
    display: inline;
}
.d  div:first-child  {
    
    position: relative;
    left: 0px;
}


      
#p{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 728px){
    body{
        background-color: green;
    }
    h1{
        color:#fff;
    }
    
    .d{
        display: block;
        width: 100%;
        position: relative;
        top:20px;
        left: -10px;
    }

    .d button {
        margin: 7px;
        width: 100%;
    }
    .d button:hover{
        background-clip: #171823;
    }
       
#p{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}


.form{
    width: 100%;
}
#boxes{
   
    text-align: center;
    
}

.box{
    
}

}