<div class="container mt-5">

    <h2 class="text-center mb-5">Trabajos por Categorias </h2>
    <div class="row">

        <div style="border: px solid green;" id="categoria-contenedor"
            class=" shadow-lg p-3 mb-5  bg-white rounded col-12  col-md-3 ">
            <div class="categoria" style="">
                <i class="icono-categoria  fas fa-wrench "></i>
                <p class=""><a routerLink="/listar-trabajos" ><strong class="">Mamtenimiento</strong></a></p>

            </div>


        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class="shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="categoria">
                <i class="icono-categoria fas fa-laptop"></i>
                <p><strong>Informatica e Internet</strong></p>
            </div>

        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class="shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="">
                <i class="icono-categoria far fa-chart-bar"></i>
                <p><strong>Finanzas</strong></p>
            </div>

        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class=" shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="categoria">
                <i class="icono-categoria far fa-building"></i>
                <p><strong>Bancos</strong></p>
            </div>

        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class="shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="categoria">
                <i class="icono-categoria fas fa-funnel-dollar"></i>
                <p><strong>Ventas</strong></p>
            </div>

        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class="shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="">
                <i class="icono-categoria  fas fa-clipboard-list   "></i>
                <p><strong>Administracion</strong></p>
            </div>

        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class=" shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="categoria">
                <i class="icono-categoria fas fa-phone"></i>
                <p><strong>Call center</strong></p>
            </div>

        </div>
        <div style="border: px solid green;" id="categoria-contenedor"
            class="shadow-lg p-3 mb-5 bg-white rounded col-12  col-md-3 ">
            <div class="categoria">
                <i class="icono-categoria fas fa-cogs"></i>
                <p><strong>Produccion</strong></p>
            </div>

        </div>

    </div>
</div>