<div style="display: none; height: 100vh;" class="container">
  <header class="jumbotron">

    <!--<ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
      <p>{{ content }}</p>-->
    <form class="form" method="post" [formGroup]="publicarForm">

      <!--
    (change)="onChange($event)" 
  -->
      <ckeditor formControlName='editor' [editor]="Editor"></ckeditor>
      <span class="text-danger " *ngIf="publicarForm.get('editor').touched ">
        Debes de completar la descripcion de la oferta!!
      </span>
    </form>
  </header>
</div>
<div id="img-contenedor" class="">
  <!--
  <img id="imagen" height="600px" src="1.jpg" alt="banner"> -->
  <div class="col-xl-6 col-lg-9 col-md-10">
    <div class="hero__caption">
        <h1>Encentra el trabajo que se adapte a tu curriculum </h1>
        <div class="d-flex m1 ">
          <a class="btn-banner1"  href="">Publica una oferta</a>
          <a class="btn-banner2" href="">Encuentra un empleo</a>
          
        </div>
    </div>
</div>
</div>



    
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum nisi voluptatem aliquam veritatis, nobis
  consequatur iure totam incidunt exercitationem debitis sunt non dolore distinctio architecto tempora libero id
  voluptatibus. Accusantium!</p>
