#imagen{
    top: 200px;
    position: sticky;
    width: 100%;
    margin-top: 40px;
    padding: 0;
}

#con-header{
    
}
    
#fondo{
    background-image: url('components/imagenes/1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 98;
    max-height: 400px;

  }

  .container-fluid{
      position: relative;
  }