<div id="app">
  <style>
    .col-md-8 {
      border: 2px solid reD;
    }

    .navbar-expand-lg button {
      color: white;
    }
  </style>
  
  <div class="col-md-12 col-xs-12  offset-md-0 ">

    <h2>NOMBRE </h2>
    <input type="checkbox" id="menu-bar">

    <label for="menu-bar" class="fas fa-bars"></label>

    <nav id="menu">
      <ul class="list-1">
        <li><a href="#"><span></span>Inicio<span></span></a></li>
        <li class="nav-item  active dropdown submenu">
          <a class="nav-link  dropdown-toggle " id="navbarDropdown" role="button" data-toggle="dropdown">Servicios</a>
          <i class="fas fa-angle-down"></i>


          <ul class="dropdown-menu children-list1">
            <li><a class="dropdown-item"> Item</a></li>
            <li><a class="dropdown-item" href="#">item </a></li>
            <li><a class="dropdown-item" href="#">item </a></li>
          </ul>

        </li>
        <li class="nav-item active dropdown submenu">
            <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link  dropdown-toggle"  role="button" data-toggle="dropdown">Asistencia</a>
            <i class="fas fa-angle-down"></i>
          <ul class="dropdown-menu children-list2">

            <li><a ><span>Item1</span><span></span></a></li>
            <li><a ><span>Item2</span><span></span></a></li>
            <li><a ><span>Item2</span><span></span></a></li>
          </ul>

        </li>

        <li class="nav-item active  submenu"><a  ><span></span>Mi Cuenta<span></span></a>
          <ul class="drop-menu children-list2 ml-auto" *ngIf="!isLoggedIn">
            <li class="nav-item">
              <a href="/register" class="nav-link" routerLink="registro-candidato">Sign Up</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link" routerLink="login">Login</a>
            </li>
          </ul>
      
          <ul class="drop-menu ml-auto children-list2 "   *ngIf="isLoggedIn">
            <li class="nav-item">
              <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
            </li>
            <li class="nav-item">
              <a href class="nav-link" (click)="logout()">LogOut</a>
            </li>
          </ul>

        </li>



      </ul>
    </nav>
  </div>


  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;

    }

    body {
      background-color: black;
    }

    h2 {
      float: left;
      transform: translateX(20%);
      padding-top: 11px;
    }

    .contenedor {
      width: 98%;
      margin: 0 auto;
    }

    .fa-bars {
      display: none;
    }

    #menu-bar {
      display: none;
    }


    .col-md-12 {
      position: fixed;
      width: 100%;
      background: #171823;
      color: #fff;
      z-index: 100;
      left: 0;
      height: 50px;
    }


    ul.drop-menu li:last-child {
      border-radius: 0px 0px 5px 5px;

    }

    li {
      list-style: none;
    }


    #menu a:hover {

      background-color: #ff4040;
      cursor: pointer;


      /*  background-color: #037e8c;*/



    }

    body {
      font-family: 'Josefin Sans', sans-serif;

    }

    .dropdown-menu li:hover ul li {
      opacity: 0;
      display: block;
      visibility: visible;
      transform-origin: top center;
      background-color: #353851;
      animation: menu 0.3s ease-in-out forwards;

    }


    @media (min-width:1024px) {
      .fa-angle-down {
        position: absolute;
        right: 3px;
        top: 45%;
        font-size: 18px;
  
      }
      .fa-angle-down:hover {
        cursor: pointer;
      }
      .dropdown-menu {

        background-color: #0b3c5d;
        color: #fff;
        width: 100%;

      }

      .children-list1 {
        visibility: hidden;


      }

      .children-list2 {
        visibility: hidden;


      }

      .children-list3 {
        visibility: hidden;



      }


      #menu {
        border: px solid red;
        position: static;
        display: flex;
        height: 50px;
        float: right;
        top: 10px;
        transform: translateX(-10%);
      }


      #menu a {
        height: 50px;
        color: #ffF;
        left: 0;
        padding: 20px;
        font-size: 15px;
        display: block;
        text-decoration: none;

      }

      .list-1 {
        display: inline-flex;
        list-style: none;

      }

      .list-1 li:hover {

        border-bottom: px solid;
      }

      .dropdown-menu li:hover ul li {
        opacity: 0;
        display: block;
        visibility: visible;
        transform-origin: top center;
        background-color: #171823;

        animation: menu 0.3s ease-in-out forwards;

      }

      .list-1 li:hover ul li {
        opacity: 0;
        display: block;
        visibility: visible;
        transform-origin: top center;
        background-color: #171823;
        animation: menu 0.3s ease-in-out forwards;


      }


      .list-1 li:hover ul li:first-child {

        animation-duration: 0.3s;


      }

      .list-1 li:hover ul li:nth-child(2) {

        animation-duration: 0.5s;

      }

      .list-1 li:hover ul li:nth-child(3) {

        animation-duration: 0.6s;
      }

      @keyframes menu {

        0% {
          opacity: 0;
          transform: rotateY(90deg);



        }

        100% {
          opacity: 1;
          transform: rotateY(0deg);



        }
      }
    
    }


    @media (min-height:320px)  and (max-width:1024px){
      .list-1{
        position: absolute;
        top: 0;
        width: 100%;
      
      }
    }

    @media screen and (max-width:1024px) {

      .children-list1 li:hover {
      border-left: 2px solid;

    }


    .children-list2 li:hover {

      border-left: 2px solid;

    }

    .children-list3 li:hover {
      border-left: 2px solid;

    }

      #menu {
        background-color: #171823;
      }

      .children-list2{
          
      }
      .fa-bars {
        font-size: 30px;
        color: #000000;
        float: right;
        transform: translateX(-20%);
        padding: 14px;
        display: block;

      }

      .fa-bars {
        color: #fff;
      }

      #menu-bar:checked~#menu {
        transform: translateX(0%);
        transition: all 0.5s;
        /*background-color: #0b3c5d;*/
        background-color: #171823;


      }

      header {
        height: 50px;
        width: 100%;
        z-index: 100%
      }

      #menu {
        position: absolute;
        top: 50px;
        background-color: #333;
        height: 100vh;
        min-width: 200px;
        transform: translateX(-100%);
        transition: all 0.5s;
        overflow: scroll;

        left: 0px;
        color: #fff;

      }

      .contenedor {}

      #menu a {
        display: block;
        width: 100%;
        height: 50px;
        left: 0px;
        color: #fff;
        padding: 20px;

        text-decoration: none;


      }

      .dropdown-menu {

        background-color: #304151;
        color: #fff;
        width: 100%;

      }

      .fa-angle-down {
        position: absolute;
        right: 10px;
        top: 50%;
      }

     
      
      .children-list1 {}

    }
  </style>



<!--
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">bezKoder</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a href="/home" class="nav-link" routerLink="home">Home </a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
        </li>
        <li class="nav-item">
          <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link" routerLink="login">Login</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </li>
      </ul>
    </nav>
   


  -->



<div class="">
  
  <router-outlet></router-outlet>
</div>


</div>