    
  <div  style="margin-top: 100px;" class="container">
     
     
        <div class="row   " style="border: px solid darkmagenta; ">
          <div style="border: px solid aqua ; height: 100%; justify-content: center; "   class=" col-md-3">
              <div class="job-category-listing mb-50">
                  <!-- single one -->
                  <div class="single-listing">
                     <div class="small-section-tittle2">
                           <h4>Job Category</h4>
                     </div>
                      <!-- Select job items start -->
                      <div class="select-job-items2">
                          <select  class="selectpicker " name="select">
                              <option value="">All Category</option>
                              <option value="">Category 1</option>
                              <option value="">Category 2</option>
                              <option value="">Category 3</option>
                              <option value="">Category 4</option>
                              <option value="">Category 1</option>
                              <option value="">Category 2</option>
                              <option value="">Category 3</option>
                              <option value="">Category 4</option>
                          </select>
                      </div>
                      <!--  Select job items End-->
                      <!-- select-Categories start -->
                      
                        
    
                      <div class="select-Categories pt-80 pb-50">
                          <div class="small-section-tittle2">
                              <h4>Job Type</h4>
                          </div>
                          
                          <label class="container">Tiempo Completo
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">Por proyecto
                              <input type="checkbox" checked="checked active">
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">Eventual
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">Pasantia
                              <input type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                      <!-- select-Categories End -->
                  </div>
                  <!-- single two -->
                  <div class="single-listing">
                     <div class="small-section-tittle2">
                           <h4>Job Location</h4>
                     </div>
                      <!-- Select job items start -->
                      <div class="select-job-items2">
                          <select class="selectpicker " name="select">
                              <option value="">Anywhere</option>
                              <option value="">Category 1</option>
                              <option value="">Category 2</option>
                              <option value="">Category 3</option>
                              <option value="">Category 4</option>
                          </select>
                      </div>
                      <!--  Select job items End-->
                      <!-- select-Categories start -->
                      <div class="select-Categories pt-80 pb-50">
                          <div class="small-section-tittle2">
                              <h4>Experiencia</h4>
                          </div>
                          <label class="container">Sin Experiencia
                              <input name="filtro-experiencia " type="checkbox" >
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">1-3 Años
                              <input name="filtro-experiencia " type="checkbox" checked="checked active">
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">3-5 Años
                              <input name="filtro-experiencia " type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">5 o mas 
                              <input  name="filtro-experiencia " type="checkbox">
                              <span class="checkmark"></span>
                          </label>
                      </div>
                      <!-- select-Categories End -->
                  </div>
                  <!-- single three -->
                  <div class="single-listing">
                      <!-- select-Categories start -->
                      <div class="select-Categories pb-50">
                          <div class="small-section-tittle2">
                              <h4>Posted Within</h4>
                          </div>
                          <label class="container">Any
                              <input type="checkbox" >
                              <span class="checkmark"></span>
                          </label>
                          <label class="container">Today
                              <input type="checkbox" checked="checked active">
                              <span class="checkmark"></span>
                          </label>
                         
                      </div>
                      <!-- select-Categories End -->
                  </div>
                  <div class="single-listing">
                      <!-- Range Slider Start -->
                      <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                          <div class="small-section-tittle2">
                              <h4>Filter Jobs</h4>
                          </div>
                          <div class="widgets_inner">
                              <div class="range_item">
                                  <!-- <div id="slider-range"></div> -->
                                  <input type="text" class="js-range-slider" value="" />
                                  <div class="d-flex align-items-center">
                                      <div class="price_text">
                                          <p>Price :</p>
                                      </div>
                                      <div class="price_value d-flex justify-content-center">
                                          <input type="text" class="js-input-from" id="amount" readonly />
                                          <span>to</span>
                                          <input type="text" class="js-input-to" id="amount" readonly />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </aside>
                    <!-- Range Slider End -->
                  </div>
                  <div class="col-12" >
                    <button  class="btn-filtros"  >Aplicar Filtros </button>
                  </div>
              </div> 
          </div>
          <div class="col-md-9"  style="border: px solid hotpink;">
            <div   *ngFor="let oferta of ofertas"  class="card    promoting-card">
              
              <!-- Card content -->
              <div style="border: px solid green;" class="mt-4 card-body ">
    
                <!-- Avatar -->
               <div  style="border: px solid orange ;" class="row">
                
                  <div id="img-oferta" style="position: relative; border:px solid black;" class="col-12 col-md-2 ">
                      <img src="{{oferta.logo}}" class="rounded-circle" height="80px" width="80px" alt="avatar">
                    
                  </div>
                  <!-- Content ../../../assets/fondos (25).jpg  -->
                  <div  class="oferta-body col-md-10 col-12"  style="position: relative;  border:px solid blue; " >
                    
                    <!-- Title -->
                    <h4 class="card-title font-weight-bold mb-2">{{oferta.titulo_oferta}}</h4>
                    <!-- Subtitle -->
                    <p class="card-text"><i style="border: px solid red;" class="fas fa-hourglass-start pr-2"></i>Expira : {{oferta.expiracion}} </p>
                    <p class="card-text"><i></i><strong>{{oferta.nombre_empresa}}</strong></p>
                    <div class="col-12">
                      <button class= "btn-oferta"   id="btn-veroferta"  >Ver oferta  </button>
                    </div>
                    <div class="" style="float: right;"  >
                        <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top"
                        title="Share this post"></i>
                      <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top"
                        title="I like it"></i>
                    </div>
                  </div>
    
               </div>
               
    
              </div>
              <!--
              <div style="border: 4px solid green;" class="mt-4 card-body ">
    
               <div  style="border: px solid orange ;" class="row">
                
                  <div id="img-oferta" style="position: relative; border:px solid black;" class="col-12 col-md-2 ">
                      <img src="../../../assets/fondos (21).jpg" class="rounded-circle" height="80px" width="80px" alt="avatar">
      
                  </div>
                  <div class="oferta-body col-md-10 col-12" style="position: relative;  border:px solid blue; " >
      
                    <h4 class="card-title font-weight-bold mb-2">Scrum Master</h4>
                    
                    <p class="card-text"><i style="border: px solid red;" class="fas fa-hourglass-start pr-2"></i>Expira : 07/24/2018</p>
                    <p class="card-text"><i></i><strong>Contactos y oportunidades</strong></p>
                    <div class="col-12" style="border: px solid green;" >
                      <button class= "btn-oferta"   id="btn-veroferta"  >Ver oferta  </button>
                    </div>
                    <div class="" style="float: right;"  >
                        <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top"
                        title="Share this post"></i>
                      <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top"
                        title="I like it"></i>
                    </div>
                  </div>
    
               </div>
               
    
              </div>  
            -->
              
             
              
    
              <!-- Card image -->
              <div class="view overlay">
                <a href="#!">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
    
              <!-- Card content -->
              
    
            </div>
            
            <!-- Card -->
          </div>
        </div>
        <!--
           <div class="col-md-4">
            
          <div class="card booking-card">
    
            
            <div class="view overlay">
              <img class="card-img-top" src="img/fondos (24).jpg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          
            <div class="card-body">
          
              <h4 class="card-title font-weight-bold"><a>La Sirena restaurant</a></h4>
              <ul class="list-unstyled list-inline rating mb-0">
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
                <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
                <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
              </ul>
              <p class="mb-2">$ • American, Restaurant</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <hr class="my-4">
              <p class="lead"><strong>Tonight's availability</strong></p>
              <ul class="list-unstyled list-inline d-flex justify-content-between mb-0">
                <li class="list-inline-item mr-0">
                  <div class="chip mr-0">5:30PM</div>
                </li>
                <li class="list-inline-item mr-0">
                  <div class="chip deep-purple white-text mr-0">7:30PM</div>
                </li>
                <li class="list-inline-item mr-0">
                  <div class="chip mr-0">8:00PM</div>
                </li>
                <li class="list-inline-item mr-0">
                  <div class="chip mr-0">9:00PM</div>
                </li>
              </ul>
              <a href="#" class="btn btn-flat deep-purple-text p-1 mx-0 mb-0">Button</a>
          
            </div>
          
          </div>
           </div>
    
          -->
      </div>
    